<configuration>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}logfile.log}"/>

    <appender name="CONSOLE" class="com.github.sdegroot.logback.logbuffer.wrappers.WrappedConsoleAppender">
        <bufferEnabled>${ENABLE_LOG_BUFFERING:-true}</bufferEnabled>
        <bufferFrom>TRACE</bufferFrom>
        <bufferUntil>DEBUG</bufferUntil>
        <bufferSize>1</bufferSize>
        <flushBufferFrom>WARN</flushBufferFrom>
        <encoder>
            <charset>utf8</charset>
            <pattern>%X{id} %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-6level[%logger{0}]: %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="JSON_LOG" class="com.github.sdegroot.logback.logbuffer.wrappers.WrappedRollingFileAppender">
        <file>${LOG_FILE}</file>

        <bufferEnabled>${ENABLE_LOG_BUFFERING:-true}</bufferEnabled>
        <bufferFrom>TRACE</bufferFrom>
        <bufferSize>1</bufferSize>
        <bufferUntil>DEBUG</bufferUntil>
        <flushBufferFrom>WARN</flushBufferFrom>

        <encoder>
            <pattern>%X{id} %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-6level[%logger{0}]: %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%i</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <root level="${logging.level:-DEBUG}">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="JSON_LOG"/>
    </root>
</configuration>

